.card-input {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 700px;
  }
  
  .card-input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .25);
  }
  #bt1{
    width: 160px;
    font-size: 30px;
  }