*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Fondamento", cursive;
  font-weight: 400;
  font-style: italic;
 
}

::-webkit-scrollbar{
  display: none;
}

#t1{
  font-size: 32px;
}

#t2{
  font-size: 25px;
}